{% extends 'base.html.twig' %}

{% block title %}Gestion des biens{% endblock %}

{% block body %}

    <div>

        <h2>Gestion des biens</h2>

        {% for message in app.flashes('sucess') %}
        <div class="alert alert-success">
            {{message}}
        </div>
        {% endfor %}

        <table class="table table-striped">
            <thread>
                <tr>
                    <th>Nom du produit</th>
                    <th>Actions</th>
                </tr>
            </thread>
            <body>
                {% for produits in produit %}
                <tr>
                    <td>
                        {{produits.Titre}}
                    </td>
                    <td>
                        <a href="{{ path('admin.produit.prodedit', {id: produits.Id} ) }}" 
                            class="btn btn-secondary"> Editer un bien 
                        </a>
                        <form method="post" action="{{ path('admin.produit.proddelete', {id: produits.Id} )  }}" 
                        style="display:inline-block" onsubmit=" return confirm('Valider la suppréssion')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="token_delete" value="{{ csrf_token('delete' ~ produits.Id) }}">
                            <button class="btn btn-danger"> Supprimer </button>
                        </form>
                    </td>
                </tr>
                {% endfor %} 
            </body>
        </table>

        <div class="text-right">
            <a href="{{ path('admin.produit.prodcreate') }}" class="btn btn-primary"> Créer un produit </a>
        </div>


    </div>
{% endblock %}